body { 
    font-family: Arial, sans-serif; 
    background-color: #f8f9fa; /* Light gray background */ 
} 

.card {
    margin-bottom: 20px; /* Increased margin between cards */
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    height: 170px; /* Reduced height for the cards */
    overflow: hidden; /* Ensure content does not overflow */
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 15px; /* Reduced padding inside the cards */
}

.card-1 {
    background-color: #1679AB; /* Updated color for card 1 */
}

.card-2 {
    background-color: #FF204E; /* Updated color for card 2 */
}

.card-3 {
    background-color: #A0153E; /* Updated color for card 3 */
}

.card-title {
    font-size: 20px; /* Reduced font size for card titles */
    font-weight: bold;
    color: white; /* Text color for card titles */
}

.card-text {
    color: white; /* Text color for card details */
}
