/* Custom CSS for the navbar */ 
.navbar-brand { 
    font-family: 'Poppins', sans-serif; 
    font-size: 24px; 
    font-weight: 700; 
    color: white; 
} 

/* Additional styles */
.navbar {
    background-color: #343a40; /* Dark background color */
}
.navbar-nav .nav-link {
    color: white; /* White color for navbar links */
}
.navbar-nav .nav-link:hover {
    color: #ffc107; /* Yellow color on hover */
}
.card {
    margin-bottom: 20px;
    border: none; /* Remove border from cards */
    border-radius: 10px; /* Add border radius to cards */
    background-color: #fff; /* White background for cards */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect to cards */
    transition: all 0.3s ease;
    height: 100%; /* Ensure all cards have equal height */
}
.card:hover {
    transform: translateY(-5px); /* Add hover effect to cards */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Change shadow on hover */
}
.card-img-overlay {
    background: rgba(0, 0, 0, 0.7); /* Dark overlay background color */
    color: white; /* White text color */
    padding: 20px;
    border-radius: 10px; /* Add border radius to card overlay */
}
.card-img-overlay:hover {
    background: rgba(0, 0, 0, 0.9); /* Darken overlay on hover */
}
.card-title {
    font-size: 24px; /* Increase font size for better visibility */
    font-weight: bold; /* Make the font bold for emphasis */
}
